@model IEnumerable<FatTrack>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   
}
<h1>Your Info</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Starting Weight</th>
            <th>Current Weight</th>
            <th>Desired Weight</th>
            <th>Height</th>
            <th>Gender</th>
            <th>Activity Level</th>
            <th>Birthday</th>
            <th>Age</th>
            <th>BMR</th>
            <th>Calories Needed</th>
        </tr>

    </thead>

    <tbody>
        @foreach(var mod in Model)
        {
            
                <tr>
                    <td>@mod.FirstN</td>
                    <td>@mod.Email</td>
                    <td>@mod.StartingW</td>

                    <td>@mod.DesiredW</td>
                    <td>@mod.HeightInches</td>
                    <td>@mod.Gender</td>
                    <td>@mod.ActivityLevel</td>
                    <td>@mod.Birthday</td>
                    

                </tr>

            }



        


    </tbody>

</table>

